body {
  width: 300px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  border-radius: 2px;
  padding: 5px;
  margin: 0;
  width: 100%;
}

.group {
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 13px;
  background: #1273bf;
  color: white;
  border-radius: 3px;
  border: 0;
  border-bottom: 2px solid #084271;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

#result {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

hr {
  height: 1px;
  background: lightgrey;
  border: 0;
  margin: 15px 0;
}

#clear {
  text-align: center;
  margin-top: 5px;
}